doctype html
html
  head
    title= title
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/materialize.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    style   
  body
    header
        nav.black
            div.nav-wrapper.container
                a.brand-logo(href="/" ) The Lean Dev
                ul.right.hide-on-med-and-down
                  li 
                    a(href="/contact") Contact Us
                  li
                    a(href="/services") Services
                  li 
                    a(href="/splash") Splash
                  li 
                    a(href="/taskBoard") Tasks
                  li 
                    a(href="/projectBoard") Projects 
                  li
                    a(href="/table") Tables      
    main    
      .row
        section.container.valign-wrapper#section1
          h2.header.text-flow.center-align The Lean Dev
            p.grey-text.text-darken-3.lighten-3.flow-text
              | “A community space 
              |where you can focus on what you love doing, and we will handle all the hassles of running an office.” 
            p.grey-text.text-darken-3.lighten-3.flow-text
              a(class="waves-effect waves-purple waves-ripple btn-flat" href="/splash") Call To Action
      .row.container
        .container.col.s12.m3.l3        
          .card
            a(class="waves-effect waves-red waves-ripple" href="#section-mobile")
              .card-image
                img(src='/images/idea128x128.svg' class="scaleicon")
                span.card-title 
                
              .card-content
                p
                  | Idea 
              
        .container.col.s12.m3.l3        
          .card
            a(class="waves-effect waves-orange waves-ripple")
              .card-image
                img(src='/images/puzzle128x128.svg' class="scaleicon")
                span.card-title 
                
              .card-content
                p
                  | Project Planning
        .container.col.s12.m3.l3        
          .card
            a(class="waves-effect waves-yellow waves-ripple")
              .card-image
                img(src='/images/gears.svg' class="scaleicon")
                span.card-title 
                
              .card-content
                p
                  | Building.   
        .container.col.s12.m3.l3        
          .card
            a(class="waves-effect waves-green waves-ripple")
              .card-image
                img(src='/images/product.svg' class="scaleicon")
                span.card-title 
                
              .card-content
                p
                  | Product Delivered. 
      .container   
        .row
          article.container.valign-wrapper.col.s12
            h2.header.text-flow.center-align Staying Mobile
              p.grey-text.text-darken-3.lighten-3.flow-text
                | We adhere to a mobile first mantra.
                | One application all devices!
      .row
        .container#section-mobile
          img(src="/images/apple_devices.svg") 
      
          block content
    footer.page-footer.black
        div.container
            div.row
                div.col.l6.s12
                    h5.white-text The Lean Dev
        div.footer-copyright
            div.container @2017 Copyright
            
        
    script(src='https://code.jquery.com/jquery-2.2.4.min.js')
  
    script(src='/javascripts/materialize.min.js')
    script(src='/javascripts/default.js')
    
