doctype html
html
  head
    title= title
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/materialize.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    style   
  body
    header
            
    main    
      .row
        a(class="" href="/")
          img(src= "/images/key_splash.png")            
        
    script(src='https://code.jquery.com/jquery-2.2.4.min.js')
    script(src='/javascripts/materialize.min.js')
    script(src='/javascripts/default.js')
    
